body{
  background: url("pictures/bg.jpg") top left no-repeat;
  background-size: cover;
}

body:before {
  content: '';
  position: absolute;
  top: 0;
  left:0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(to bottom right, #000, #070719);
  opacity: .6;

}

/* starts of the media button section */
.mediaButtons{
  float: right;
  display: inline;
  width: 320px;
  height: 50px;
  margin-right: 300px;
}

.mediaButtons>span{
  font-size: 10px;
  float: left;
  padding-top: 18px;
  color: white;
  diplay:none;
  margin-left: -70px;
}

.youtube{
  background-color:#B52F23;
  width:15%;
  height:90%;
  float:right;

}

.youtube>div{
  padding-top: 7px;
  padding-left: 9px;
  color:white;
}
.twitter{
  background-color: #6A8DC7;
  width:15%;
  height:90%;
  float:right;
  margin-right:7px;
}

.twitter>div{
  padding-top: 7px;
  padding-left: 9px;
  margin-right:7px;
  color:white;
}

.rss{
    background-color:#CA8E31;
    width:15%;
    height:90%;
    float:right;
    margin-right:7px;
}
.rss>div{
  padding-top: 7px;
  padding-left: 13px;
  color:white;
}

.facebook {
  background-color:#445897;
  width:15%;
  height:90%;
  float:right;
  margin-right:7px;
}

.facebook>div{
  padding-top: 7px;
  padding-left: 14px;
  color:white;
}

.dots{
  padding-left: 97px;
  padding-top: 7px;
}

.dots>div{
  color: white;

}

.dot>span{
  padding-left: 69px;
  font-size:6px
  padding-top: 17px;

}

/* THIS END THE SECTION ON MEDIA BUTTONS*/

/* START OF TOP NAVIGATION BAR */
.topNavigation{
  width: 676px;
  height: 31px;
  margin-top: 7px;
  float: left;
  margin-left: 292px;
}

.redBarOne{
  width: 163px;
  height:27px;
  background-color: #B3282E;
  float:right;

}

.lineText{
  float: right;
  margin-right: 23px;
  color: #FFFFFF;
  font-size: 12px;
  margin-top: 8px;
}

.rightBar{
  margin-right: 13px;
}
.leftBar{
  margin-left: 13px;
}

.redBarTwo{
  width: 163px;
  height:27px;
  background-color: #B3282E;
  float:right;
  margin-right: 7px;
}

.lineTextTwo{
  float: right;
  margin-right: 16px;
  color: #FFFFFF;
  font-size: 12px;
  margin-top: 8px;
}

.rightBarTwo{
  margin-right: 13px;
}
.leftBarTwo{
  margin-left: 13px;
}

.redBarThree{
  width: 163px;
  height:27px;
  background-color: #B3282E;
  float:right;
  margin-right: 7px;

}

.lineTextThree{
  float: right;
  margin-right: 9px;
  color: #FFFFFF;
  font-size: 12px;
  margin-top: 8px;
}

.rightBarThree{
  margin-right: 11px;
}
.leftBarThree{
  margin-left: 11px;
}

.redBarFour{
  width: 163px;
  height:27px;
  background-color: #B3282E;
  float:right;
  margin-right: 7px;
}

.lineTextFour{
  float: right;
  margin-right: 23px;
  color: #FFFFFF;
  font-size: 12px;
  margin-top: 8px;
}

.rightBarFour{
  margin-right: 15px;
}
.leftBarFour{
  margin-left: 15px;
}

/* END OF NAV BAR */

/* Start of article picture */

.pictureArticle{
  background-color: white;
  width: 674px;
  height: 290px;
  float: left;
  margin-top: 48px;
  margin-left: -673px;
}

.topPicture{
  width: 656px;
  height: 276px;
  margin-left: 9px;
  margin-top: 7px;


}
.topPicture2{
  width: 656px;
  height: 276px;
  margin-left: 9px;
  margin-top: 7px;
  position:absolute;
  opacity: 0.1;

}
.logo{
  position:absolute;
  margin-left: -648px;
  margin-top: 62px;
  height: 162px;
  width: 259px;
}

/*END OF TOP PICTURE*/

/* START OF CIRCLE SELECTIONS */
.circleSelection{
  float:left;
  list-style-type: none;
  margin-top: 343px;
  margin-left: -391px;
  color: #B3282E;
}

.circle{
  display:inline-block;

}
/* END OF CIRCLE SELECTIONS */

/* START OF ARTICLE SELECTIONS */

.articles{

  width: 675px;
  height:231px;
  margin-top: 27px;
  margin-left: -372px;
  float: left;


}

.boxOne{
  background-color:white;
  width: 32.25%;
  height:99%;
  float:left;


}

.titleOne{
  font-size: 19px;
  margin: 0px;
  line-height: 15%;
  margin-left: 16px;
  color: #555752;
}

.dateOne{
  font-size: 9px;
  margin: 0px;
  color: #B8B8B8;
  margin-left: 16px;
}

.bodyTextOne{
  font-size: 8px;
  margin-left: 16px;
  color: #555752;
}

.readMoreOne{
  font-size: 9px;
  color: #AF1226;
  margin-left: 70px;
  margin-top: 14px;
}



.boxTwo{
  background-color:white;
  width:32.25%;
  height:99%;
  float: left;
  margin-left:10px;
}

.titleTwo{
  font-size: 19px;
  margin: 0px;
  line-height: 15%;
  margin-left: 16px;
  color: #555752;
}

.dateTwo{
  font-size: 9px;
  margin: 0px;
  color: #B8B8B8;
  margin-left: 16px;
}

.bodyTextTwo{
  font-size: 8px;
  margin-left: 16px;
  color: #555752;
}

.readMoreTwo{
  font-size: 9px;
  color: #AF1226;
  margin-left: 70px;
  margin-top: 14px;
}

.boxThree{
  background-color:white;
  width:32.25%;
  height:99%;
  float: left;
  margin-left:10px;
}

.titleThree{
  font-size: 19px;
  margin: 0px;
  line-height: 15%;
  margin-left: 16px;
  color: #555752;
}

.dateThree{
  font-size: 9px;
  margin: 0px;
  color: #B8B8B8;
  margin-left: 16px;
}

.bodyTextThree{
  font-size: 8px;
  margin-left: 16px;
  color: #555752;
}

.readMoreThree{
  font-size: 9px;
  color: #AF1226;
  margin-left: 70px;
  margin-top: 18px;
}

/* DONE WITH THE ARTICLES */

/* START OF PROFILES */
.profiles{
  width: 675px;
  height: 340px;
  float: left;
  margin-top: 270px;
  margin-left: -676px
}

.tommy{
  width: 218px;
  height: 340px;
  float: right;
  background-color: white;
}

.tommyPicture{
  width: 95%;
  height: 95%;
  margin-top: 9px;
  margin-left: 5px;
}

.tommyText{
  color: white;
  margin-top: -214px;
  line-height: 15%;
  text-align: center;
  font-size: xx-large;
}

.lance{
  width: 219px;
  height: 164px;
  background-color: white;
  float:left;
}

.lancePicture{
  width: 95%;
  height: 95%;
  margin-left: 5px;
  margin-top: 4px;
}

.lanceText{
  color:white;
  margin-top: -128px;
  line-height: 15%;
  margin-left: 1px;
  text-align: center;
  font-size: 28px;
}

.rodney{
  width: 218px;
  height: 164px;
  background-color:white;
  float:right;
  margin-right: 10px;
}

.rodneyPicture{
  width: 95%;
  height: 95%;
  margin-left: 6px;
  margin-top: 4px;
}

.rodneyText{
  color: white;
  margin-top: -128px;
  line-height: 15%;
  margin-left: 1px;
  text-align: center;
  font-size: 28px;
}

.steve{
  float: left;
  height: 166px;
  width: 447px;
  margin-top: 10px;
  background-color: white;
}

.stevePicture{
  width: 98%;
  height: 95%;
  float: left;
  margin-left: 6px;
  margin-top: 4px;

  }

.steveText{
  color:white;
  margin-top: -83px;
  float: left;
  font-size: 28px;
  margin-left: 109px;
}
/* END OF PROFILES */

.skateBoards{
  background-color: white;
  height: 300px;
  width: 677px;
  float: left;
  margin-top: 625px;
  margin-left: -677px;
}

.skatePictures{
  list-style: none;
  height:10px;
  width:10px;
}
