body{
  background: url("pictures/bg.jpg") top left no-repeat;
  background-size: cover;
}

body:before {
  content: '';
  position: fixed;
  top: 0;
  left:0;
  right: 0;
  bottom: -1254px;
  background-image: linear-gradient(to top left, #000, #070719);
  opacity: .4;
  z-index:-1

}
/* WRAPPER FOR THE ENTIRE CONTENT */


/* starts of the media button section */

.mediaButtons{
  float: right;
  display: inline;
  width: 320px;
  height: 50px;
  margin-right: 282px;
}

.mediaButtons>span{
  font-size: 10px;
  float: left;
  padding-top: 18px;
  color: white;
  diplay:none;
  margin-left: -70px;
}

.youtube{
  background-color:#B52F23;
  width:15%;
  height:90%;
  float:right;
  border-bottom: 3px solid #8D8B89;
}

.youtube>div{
  padding-top: 7px;
  padding-left: 9px;
  color:white;
  opacity: 0.5;
}
.twitter{
  background-color: #6A8DC7;
  width:15%;
  height:90%;
  float:right;
  margin-right:7px;
  border-bottom: 3px solid #8D8B89;
}

.twitter>div{
  padding-top: 7px;
  padding-left: 9px;
  margin-right:7px;
  color:white;
  opacity: 0.5;
}

.rss{
  background-color:#CA8E31;
  width:15%;
  height:90%;
  float:right;
  margin-right:7px;
  border-bottom: 3px solid #8D8B89;
}
.rss>div{
  padding-top: 7px;
  padding-left: 13px;
  color:white;
  opacity: 0.5;
}

.facebook {
  background-color:#445897;
  width:15%;
  height:90%;
  float:right;
  margin-right:7px;
  border-bottom: 3px solid #8D8B89;
}

.facebook>div{
  padding-top: 7px;
  padding-left: 14px;
  color:white;
  opacity: 0.5;
}

.dots{
  padding-left: 97px;
  padding-top: 7px;
}

.dots>div{
  color: white;

}

.dot>span{
  padding-left: 69px;
  font-size: 4px;
  margin-top: 4px;
  float: left;

}
/* THIS END THE SECTION ON MEDIA BUTTONS*/

/* START OF TOP NAVIGATION BAR */
.topNavigation{
  width: 676px;
  height: 31px;
  margin-top: 7px;
  float: left;
  margin-left: 292px;
}

.redBarOne{
  width: 163px;
  height:27px;
  background-color: #B3282E;
  float:right;
  border-bottom: 3px solid #8D8B89;
  cursor:pointer;
}

.redBarOne:hover{
  background: blue;
  opacity: 0.5;
  -webkit-transition: background 0.2s, color 0.2s;
  -moz-transition: background 0.2s, color 0.2s;
  transition: background 0.2s, color 0.2s;
}

.lineText{
  float: right;
  margin-right: 23px;
  color: #FFFFFF;
  font-size: 12px;
  margin-top: 8px;
}

.rightBar{
  margin-right: 13px;
}
.leftBar{
  margin-left: 13px;
}

.redBarTwo{
  width: 163px;
  height:27px;
  background-color: #B3282E;
  float:right;
  margin-right: 7px;
  border-bottom: 3px solid #8D8B89;
  cursor:pointer
}

.redBarTwo:hover{
  background: blue;
  opacity: 0.5;
  -webkit-transition: background 0.2s, color 0.2s;
  -moz-transition: background 0.2s, color 0.2s;
  transition: background 0.2s, color 0.2s;
}


.lineTextTwo{
  float: right;
  margin-right: 16px;
  color: #FFFFFF;
  font-size: 12px;
  margin-top: 8px;
}

.rightBarTwo{
  margin-right: 13px;
}
.leftBarTwo{
  margin-left: 13px;
}

.redBarThree{
  width: 163px;
  height:27px;
  background-color: #B3282E;
  float:right;
  margin-right: 7px;
  border-bottom: 3px solid #8D8B89;
  cursor:pointer;

}

.redBarThree:hover{
  background: blue;
  opacity: 0.5;
  -webkit-transition: background 0.2s, color 0.2s;
  -moz-transition: background 0.2s, color 0.2s;
  transition: background 0.2s, color 0.2s;
}


.lineTextThree{
  float: right;
  margin-right: 9px;
  color: #FFFFFF;
  font-size: 12px;
  margin-top: 8px;
}

.rightBarThree{
  margin-right: 11px;
}
.leftBarThree{
  margin-left: 11px;
}

.redBarFour{
  width: 163px;
  height:27px;
  background-color: #B3282E;
  float:right;
  margin-right: 7px;
  border-bottom: 3px solid #8D8B89;
  cursor:pointer;
}

.redBarFour:hover{
  background: blue;
  opacity: 0.5;
  -webkit-transition: background 0.2s, color 0.2s;
  -moz-transition: background 0.2s, color 0.2s;
  transition: background 0.2s, color 0.2s;
}


.lineTextFour{
  float: right;
  margin-right: 23px;
  color: #FFFFFF;
  font-size: 12px;
  margin-top: 8px;
}

.rightBarFour{
  margin-right: 15px;
}
.leftBarFour{
  margin-left: 15px;
}

/* END OF NAV BAR */

/* Start of article picture */

.pictureArticle{
  background-color: white;
  width: 674px;
  height: 290px;
  float: left;
  margin-top: 48px;
  margin-left: -673px;
  border-bottom: 3px solid #8D8B89;
}


.topPicture{
  width: 656px;
  height: 276px;
  margin-left: 9px;
  margin-top: 7px;
  background-image: url("pictures/top-image.png");
  background-size: 823px 544px;


}
.topPicture2{
  width: 656px;
  height: 276px;
  margin-left: 9px;
  margin-top: 7px;
  position:absolute;
  opacity: 0.3;

}
.logo{
  position: absolute;
  margin-left: 30px;
  margin-top: -231px;
  height: 192px;
  width: 309px;
}

.logoMobile{
  display:none;
}


/*END OF TOP PICTURE*/

/* START OF CIRCLE SELECTIONS */


.circleSelection{
  float:left;
  list-style-type: none;
  margin-bottom: 10px;
  margin-top: 346px;
  margin-left: -395px;
  color: white;
}

.circle{
  display:inline-block;
  border-bottom: 3px solid white;

}
/* END OF CIRCLE SELECTIONS */

/* START OF THE ARROW POINTING AT ARTICLE */
.rightArrow{
  width: 198px;
  height: 80px;
  float: left;
  margin-top: 697px;
  margin-left: -880px;
}

.rightTriangle{
  width: 0;
  height: 0;
  border-top: 30px solid transparent;
  border-left: 30px solid #B4292E;
  border-bottom: 30px solid transparent;
  margin-left: 168px;
}

.box{
  width: 146px;
  height: 60px;
  background-color: #B4292E;
  margin-left: 22px;
  margin-top: -59.7px;
  border-bottom: 3px solid #8D8B89;
}

.arrowText{
  color: white;
  margin-top: 21px;
  float: left;
  margin-left: 10px;
}
/* END OF ARROW */

/* START OF ARTICLE SELECTIONS */


.articles{

  width: 675px;
  height:231px;
  margin-left: 9px;
  margin-top: 0px;;
  float: left;


}

.boxOne{
  background-color:white;
  width: 32.25%;
  height:99%;
  float:left;
  border-bottom: 3px solid #8D8B89;

}

.boxOne:hover{
  background: #E6F1F6;
  -webkit-transition: background 0.4s, color 0.4s;
  -moz-transition: background 0.4s, color 0.4s;
  transition: background 0.4s, color 0.4s;
}

.titleOne{
  font-size: 19px;
  margin: 0px;
  line-height: 15%;
  margin-left: 16px;
  color: #555752;
}

.dateOne{
  font-size: 9px;
  margin: 0px;
  color: #B8B8B8;
  margin-left: 16px;
}

.bodyTextOne{
  font-size: 8px;
  margin-left: 16px;
  color: #555752;

}

.readMoreOne{
  font-size: 9px;
  color: #AF1226;
  margin-left: 70px;
  margin-top: 14px;
  cursor:pointer
}



.boxTwo{
  background-color:white;
  width:32.25%;
  height:99%;
  float: left;
  margin-left:10px;
  border-bottom: 3px solid #8D8B89;
}

.boxTwo:hover{
  background: #E6F1F6;
  -webkit-transition: background 0.2s, color 0.2s;
  -moz-transition: background 0.2s, color 0.2s;
  transition: background 0.4s, color 0.4s;
}
.titleTwo{
  font-size: 19px;
  margin: 0px;
  line-height: 15%;
  margin-left: 16px;
  color: #555752;
}

.dateTwo{
  font-size: 9px;
  margin: 0px;
  color: #B8B8B8;
  margin-left: 16px;
}

.bodyTextTwo{
  font-size: 8px;
  margin-left: 16px;
  color: #555752;
}

.readMoreTwo{
  font-size: 9px;
  color: #AF1226;
  margin-left: 70px;
  margin-top: 14px;
  cursor:pointer;
}

.boxThree{
  background-color:white;
  width:32.25%;
  height:99%;
  float: left;
  margin-left:10px;
  border-bottom: 3px solid #8D8B89;
}

.boxThree:hover{
  background: #E6F1F6;
  -webkit-transition: background 0.2s, color 0.2s;
  -moz-transition: background 0.2s, color 0.2s;
  transition: background 0.4s, color 0.4s;
}
.highLightThree:hover{
  background:blue;
}
.titleThree{
  font-size: 19px;
  margin: 0px;
  line-height: 15%;
  margin-left: 16px;
  color: #555752;
}

.dateThree{
  font-size: 9px;
  margin: 0px;
  color: #B8B8B8;
  margin-left: 16px;
}

.bodyTextThree{
  font-size: 8px;
  margin-left: 16px;
  color: #555752;
}

.readMoreThree{
  font-size: 9px;
  color: #AF1226;
  margin-left: 70px;
  margin-top: 18px;
  cursor:pointer;
}

/* DONE WITH THE ARTICLES */

/* START OF PROFILES */
.profiles{
  width: 675px;
  height: 340px;
  float: left;
  margin-top: 270px;
  margin-left: -676px
}

.tommy{
  width: 218px;
  height: 343px;
  float: right;
  background-color: white;
  border-bottom: 3px solid #8D8B89;
}

.tommyPicture{
  width: 95%;
  height: 96%;
  margin-top: 9px;
  margin-left: 5px;
  background-image: url("pictures/sk8er-2.png");
  background-size: 238px 329px;
  background-repeat: no-repeat;
}

.tommyPicture:hover{
  box-shadow: -10px -10px 0 white;
  -webkit- transform: translate(10px, 10px);
  -moz- transform: translate(10px, 10px);
  transform: translate(10px, 10px);
}

.tommyText{
  color: white;
  margin-top: -214px;
  line-height: 15%;
  text-align: center;
  font-size: xx-large;
}

.lance{
  width: 219px;
  height: 164px;
  background-color: white;
  float:left;
  border-bottom: 3px solid #8D8B89;
}


.lancePicture{
  width: 95%;
  height: 95%;
  margin-left: 5px;
  margin-top: 4px;
  background-image: url("pictures/sk8er-4.png");
  background-size: 210px 200px;
}
.lancePicture:hover{
  box-shadow: -10px -10px 0 white;
  -webkit- transform: translate(10px, 10px);
  -moz- transform: translate(10px, 10px);
  transform: translate(10px, 10px);
}

.lanceText{
  color:white;
  margin-top: -128px;
  line-height: 15%;
  margin-left: 1px;
  text-align: center;
  font-size: 28px;
}

.rodney{
  width: 218px;
  height: 164px;
  background-color:white;
  float:right;
  margin-right: 10px;
  border-bottom: 3px solid #8D8B89;
}

.rodneyPicture{
  width: 95%;
  height: 95%;
  margin-left: 6px;
  margin-top: 4px;
  background-image: url("pictures/sk8er-3.png");
  background-size: 230px 165px;
}
.rodneyPicture:hover{
  box-shadow: -10px -10px 0 white;
  -webkit- transform: translate(10px, 10px);
  -moz- transform: translate(10px, 10px);
  transform: translate(10px, 10px);
}

.rodneyText{
  color: white;
  margin-top: -128px;
  line-height: 15%;
  margin-left: 1px;
  text-align: center;
  font-size: 28px;
}

.steve{
  float: left;
  height: 166px;
  width: 447px;
  margin-top: 10px;
  background-color: white;
  border-bottom: 3px solid #8D8B89;
}

.stevePicture{
  width: 97%;
  height: 95%;
  float: left;
  margin-left: 6px;
  margin-top: 4px;
  background-image: url("pictures/sk8er-1.png");
  background-size: 478px 167px;
  background-repeat: no-repeat;

  }

.stevePicture:hover{
  box-shadow: -10px -10px 0 white;
  -webkit- transform: translate(10px, 10px);
  -moz- transform: translate(10px, 10px);
  transform: translate(10px, 10px);
  }

.steveText{
  color:white;
  margin-top: -83px;
  float: left;
  font-size: 28px;
  margin-left: 109px;
}
/* END OF PROFILES */

/* START OF SKATEBOARDS */
.skateBoards{
  background-color: white;
  height: 300px;
  width: 677px;
  float: left;
  margin-top: 625px;
  margin-left: -677px;
  border-bottom: 3px solid #8D8B89;
}

.skatePictures{
  text-align: center;
  margin-top: 23px;
}

.skatePictures>img:hover{
 -webkit-transform: scale(1.2);
 -moz-transition:scale(1.2);
 transform:scale(1.2);
}
/* END OF SKATEBOARDS */

/* START OF THE FOOTER */
.bottomBox{
  width: 680px;
  height: 270px;
  background-color: white;
  float: left;
  margin-top: 945px;
  margin-left: -678px;
  border-bottom: 3px solid #8D8B89;

}

.contactInfo{
  width: 330px;
  height: 100px;
  float: left;
  margin-top: 16px;
  margin-left:8px;
}

.contactInfoInput{
  float: right;
  width: 323px;
  height: 190px;
  margin-top: 16px;
  margin-right: 8px;
}

.contactTopText{
  font-size: 20px;
  padding-right: 27px;
}

.contactBodyText{
  font-size:12px;
}

.nameBox{
  float: left;
  width: 319px;
  height: 29px;
  border-left: 2px solid #A2A2A2;
  border-top: 2px solid #A2A2A2;
  border-right: 1px solid #A2A2A2;
  border-bottom: 1px solid #A2A2A2;
}

.nameText{
  color: #B7B7B7;
  margin-left: 11px;
  margin-top: 6px;
  float: left;
}

.emailBox{
  float: left;
  margin-top: 9px;
  width: 319px;
  height: 29px;
  border-left: 2px solid #A2A2A2;
  border-top: 2px solid #A2A2A2;
  border-right: 1px solid #A2A2A2;
  border-bottom: 1px solid #A2A2A2;
}

.emailText{
  color: #B7B7B7;
  margin-left: 11px;
  margin-top: 6px;
  float: left;
}

.messageBox{
  float: left;
  width: 319px;
  height: 100px;
  margin-top: 12px;
  border-left: 2px solid #A2A2A2;
  border-top: 2px solid #A2A2A2;
  border-right: 1px solid #A2A2A2;
  border-bottom: 1px solid #A2A2A2;
}

.messageText{
  color: #B7B7B7;
  margin-left: 11px;
  margin-top: 6px;
  float: left;
}

.redBarBottom{
  width: 163px;
  height:27px;
  background-color: #B3282E;
  float:right;
  margin-top: 210px;
  margin-right: -322px;

}
/*
START OF BOTTOM MEDIA BUTTONS */
.redBarBottomText{
  color:white;
  margin-top: 5px;
  float: left;
  margin-left: 50px;
}

.mediaBoxBottom{
  width: 130px;
  height:23px;
  float: left;
  margin-top: 2px;
  margin-left: 9px;
}


.youtubeBottom{
  background-color:#757575;
  width:15%;
  height:90%;
  float:left;
  margin-left:5px;

}

.youtubeBottom>div{
  padding-top: 3px;
  padding-left: 3.5px;
  color:#969696;
}
.twitterBottom{
  background-color: #7B7B7B;
  width:15%;
  height:90%;
  float:left;
  margin-left:5px;
}

.twitterBottom>div{
  padding-top: 2px;
  padding-left: 3px;
  color:#9A9A9A;
}

.rssBottom{
  background-color:#AEAEAE;
  width:15%;
  height:90%;
  float:left;

}
.rssBottom>div{
  padding-top: 3px;
  padding-left: 5px;
  color:#C1C1C1;

}

.facebookBottom {
  background-color:#4D4D4D;
  width:15%;
  height:90%;
  float:left;
  margin-right:5px;
}

.facebookBottom>div{
  Padding-top: 3px;
  padding-left: 5px;
  color: #7A7A7A;

}

/* END OF BOTTOM MEDIA BUTTON AND FOOTER */

img {
  max-width:100;
}
/* MOBILE SETTINGS */
@media (max-width: 800px) {
.notMobile{
    display: none;
  }

.pictureArticle{
  display:none;
}

.position{
  margin-left: 0px;
  margin-top: 0px;
  height: 192px;
  width: 309px;
  display:inline-flex;
}

.logoMobile{
  height: 160px;
  width: 200px;
  display: block;
  margin-left: 268px;
}

.articles {
  width: 675px;
  height: 231px;
  margin-left: 15px;
  margin-top: 0px;
  float: left;
}

.profiles {
  width: 675px;
  height: 340px;
  float: left;
  margin-top: 10px;
  margin-left: 15px;
}
.skateBoards {
  background-color: white;
  height: 300px;
  width: 677px;
  float: left;
  margin-top: 10px;
  margin-left: 15px;
  border-bottom: 3px solid #8D8B89;
}
.bottomBox {
  width: 680px;
  height: 270px;
  background-color: white;
  float: left;
  margin-top: 10px;
  margin-left: 15px;
  border-bottom: 3px solid #8D8B89;
}
}

@media (max-width: 400px) {
}.notMobile{
    display: none;
}
.pictureArticle{
  display:none;
}

.position{
  margin-left: 0px;
  margin-top: 0px;
  height: 192px;
  width: 309px;
  display:inline-flex;
}

.logoMobile{
  height: 160px;
  width: 200px;
  display: block;
  margin-left: 90px;
}
/* START OF ARTICLES */
.articles {
  width: 375px;
  height: 231px;
  margin-left: 0px;
  margin-top: 0px;
  float: left;
}
.boxOne{
  margin:0px 3px 0px 0px;
  padding:0px;
}
.titleOne {
  font-size: 0.6em;
  margin: 0px;
  line-height: 0%;
  margin-left: 16px;
  color: #555752;
}

.dateOne {
  font-size: 0.3em;
  margin: 0px;
  color: #B8B8B8;
  margin-left: 16px;
}
.bodyTextOne {
  font-size: 0.1em;
  margin-left: 10px;
  color: #555752;
  line-height: 0.8;
}

.bodyTextOne>p{
  margin:3px 10px 0 0

}

.readMoreOne {
  font-size: 9px;
  color: #AF1226;
  margin-left: 30px;
  margin-top: 14px;
  cursor: pointer;
}

.boxTwo{
  margin:0px 3px 0px 0px;
  padding:0px

}

.titleTwo {
  font-size: 0.6em;
  margin: 0px;
  line-height: 0%;
  margin-left: 16px;
  color: #555752;
}

.dateTwo {
  font-size: 0.3em;
  margin: 0px;
  color: #B8B8B8;
  margin-left: 16px;
}
.bodyTextTwo {
  font-size: 0.1em;
  margin-left: 10px;
  color: #555752;
  line-height: 0.8;
}

.bodyTextTwo>p{
  margin:3px 10px 0 0

}

.readMoreTwo {
  font-size: 9px;
  color: #AF1226;
  margin-left: 30px;
  margin-top: 14px;
  cursor: pointer;
}
.boxThree{
  margin:0px 3px 0px 0px;
  padding:0px;

}

.titleThree {
  font-size: 0.6em;
  margin: 0px;
  line-height: 0%;
  margin-left: 16px;
  color: #555752;
}

.dateThree {
  font-size: 0.3em;
  margin: 0px;
  color: #B8B8B8;
  margin-left: 16px;
}
.bodyTextThree {
  font-size: 0.1em;
  margin-left: 10px;
  color: #555752;
  line-height: 0.8;
}

.bodyTextThree>p{
  margin:3px 10px 0 0

}

.readMoreThree {
  font-size: 9px;
  color: #AF1226;
  margin-left: 30px;
  margin-top: 14px;
  cursor: pointer;
}

.profiles {
  width: 23em;
  height: 10em;
  float: left;
  margin-top: 10px;
  background-color: green;
  margin-left:0px;
}

.tommy {
  width: 33%;
  height: 100%;
  float: right;
  background-color: white;
  border-bottom: 3px solid #8D8B89;
}
.tommyPicture {
  width: 95%;
  height: 94%;
  background-image: url("pictures/sk8er-2.png");
  background-size: 97% 100%;
  background-repeat: no-repeat;
  margin: 0.3em
  }
.tommyText {
  color: white;
  margin-top: -50px;
  line-height: 15%;
  margin-left: 1px;
  text-align: center;
  font-size: xx-small;
}

.lance {
  width: 7.3em;
  height: 4.5em;
  background-color: white;
  float: left;
}

.lancePicture {
  width: 95%;
  height: 95%;
  margin-left: 3px;
  margin-top: 2px;
  background-image: url("pictures/sk8er-4.png");
  background-size: 100% 100%
}
.lanceText {
  color: white;
  margin-top: -46px;
  line-height: 15%;
  margin-left: 1px;
  text-align: center;
  font-size: xx-small;

}
.rodney {
  width: 7.3em;
  height: 4.5em;
  background-color: white;
  float: right;
  margin-right: 0.4em;
  border-bottom: 3px solid #8D8B89;
}

.rodneyPicture {
  width: 95%;
  height: 95%;
  margin-left: 3px;
  margin-top: 2px;
  background-image: url("pictures/sk8er-3.png");
  background-size: 100% 100%
}
.rodneyText {
  color: white;
  margin-top: -47px;
  line-height: 15%;
  margin-left: 1px;
  text-align: center;
  font-size: xx-small;
}
.steve{
  float: left;
  height: 5.3em;
  width: 15em;
  margin-left: 0;
  margin-top: 0px;
  background-color: white;
  border-bottom: 3px solid #8D8B89;
}

.stevePicture{
  width: 97%;
  height: 95%;
  float: left;
  margin-left: 4px;
  margin-top: 2px;
  background-image: url("pictures/sk8er-1.png");
  background-size: 110% 100%;
  background-repeat: no-repeat;

  }

.stevePicture:hover{
  box-shadow: -10px -10px 0 white;
  -webkit- transform: translate(10px, 10px);
  -moz- transform: translate(10px, 10px);
  transform: translate(10px, 10px);
  }

.steveText{
  color: white;
  float: left;
  font-size: xx-small;
  margin-left: 83px;
  margin-top: -43px;
}

.skateBoards {
  background-color: white;
  height: 547px;
  width: 353px;
  float: left;
  margin-top: 10px;
  margin-left: 0px;
  border-bottom: 3px solid #8D8B89;
}
.bottomBox {
  width: 400px;
  height: 360px;
  background-color: white;
  float: left;
  margin-top: 10px;
  border-bottom: 3px solid #8D8B89
}

.contactInfo {
  width: 330px;
  height: 100px;
  float: left;
  margin-top: 16px;
  margin-left: 8px;
}

.contactInfoInput {
  float: right;
  width: 249px;
  height: 190px;
  margin-top: 17px;
  margin-right: 141px
}

.redBarBdottom {
  width: 163px;
  height: 27px;
  background-color: #B3282E;
  float: right;
  margin-top: 210px;
  margin-right: -322px;
}

.mediaBoxBottom {
  width: 130px;
  height: 23px;
  float: left;
  margin-top: 2px;
  margin-left: 9px;
}
